---
import ChartLayout from "../../layouts/ChartLayout.astro";
import ChartLegend from "../ChartLegend.astro";

const legends = [
  {
    name: "Southampton",
    color: "var(--color-chart-primary)"
  },
  {
    name: "Cherburgo",
    color: "var(--color-chart-secondary)"
  },
  {
    name: "Queenstown",
    color: "var(--color-chart-supporting-1)"
  }
];
---

<ChartLayout title="Supervivientes por puerto">
  <div class="flex flex-col">
    <svg class="pie-chart h-[300px] w-full"></svg>
    <ChartLegend legends={legends} />
  </div>
</ChartLayout>

<script>
  import * as d3 from "d3";
  import { DATA } from "../../constants";

  const svg = d3.select(".pie-chart");
  const width = 300;
  const height = 300;
  const radius = Math.min(width, height) / 2;

  svg.attr("viewBox", `0 0 ${width} ${height}`);

  const dataByPort = d3.group(
    DATA,
    (v) => v.Embarked,
    (d) => d.Survived
  );

  const data: any[] = [];
  dataByPort.forEach((d, key) => {
    if (!key) return;
    const survivedCount = d.get("1")?.length ?? 0;
    data.push({ port: key, value: survivedCount });
  });

  const pie = d3.pie().value((d: any) => d.value);
  const data_ready = pie(data);

  const color = d3
    .scaleOrdinal()
    .range([
      "var(--color-chart-primary)",
      "var(--color-chart-secondary)",
      "var(--color-chart-supporting-1)"
    ]);

  const arcGenerator = d3.arc().innerRadius(0).outerRadius(radius);

  const g = svg
    .append("g")
    .attr("transform", `translate(${width / 2}, ${height / 2})`);

  g.selectAll("path")
    .data(data_ready)
    .enter()
    .append("path")
    .attr("d", (d: any) => arcGenerator(d))
    // @ts-ignore
    .attr("fill", (_, i) => color(i))
    .append("title")
    .text((d: any) => `${d.data.port}: ${d.data.value}`);
</script>
